site_name: nanodrr
site_url: https://vivekg.dev/nanodrr
docs_dir: .
repo_url: https://github.com/eigenvivek/nanodrr
repo_name: nanodrr

theme:
  name: material
  favicon: docs/assets/favicon.png
  features:
    - navigation.sections
  palette:
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    accent: lime
    toggle:
      icon: material/weather-night
      name: Switch to light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode

nav:
  - Home: README.md
  - Tutorials:
    - Getting Started: docs/tutorials/demo.ipynb
  - API Reference: reference/

plugins:
  - same-dir
  - search
  - gen-files:
      scripts:
        - docs/scripts/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
            show_if_no_docstring: false
            inherited_members: true
            show_bases: false
            members_order: source
            separate_signature: true
            unwrap_annotated: true
            merge_init_into_class: true
            docstring_section_style: spacy
            signature_crossrefs: true
            show_signature_annotations: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            line_length: 80
  - callouts
  - mkdocs-jupyter:
      include: ["docs/tutorials/*.ipynb"]
      execute: true

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

extra_css:
  - docs/stylesheets/extra.css